
<div class="section_0">
   <a href="https://www.facebook.com/marion.delval.1/"> 
       <i class="fa fa-pinterest fa_style"></i> 
   </a> 
   <a href="https://www.instagram.com/marion_delval_/">
        <i class="fa fa-instagram fa_style"></i>
   </a> 
   <a href="https://www.pinterest.fr/mariondelval1/">
    <i class="fa fa-facebook-square fa_style"></i>

   </a>  
    
    
    <h1 class="section_0_1" >
        Herbier revisité
    </h1>
    <h1 class="section_0_2">
        Marion Delval
    </h1>
    <h1 class="section_0_3">
        Artiste plasticienne, basée sur Lille.
    </h1>
    <h1 class="section_0_4">
        Contact
    </h1>
</div>


<style>
    .section_0{
        background-image: url("src/img/img01.jpg");
        height:550px; 
       
        background-size: 130%; 
    }
    a {
        color:black ; 
    }
    .fa_style {
        float:right ; 
        font-size: 2em ; 
        
        margin: 15px;
    }
    .fa_style:hover {
        cursor: pointer;
    }
    .section_0_1 {
        text-align: center;
        color:white ; 
        font-size: 2.8em; 
        padding-top:100px ; 
    }
    .section_0_2 {
        font-size: 5em; 
        margin-top:60px; 
        margin-left: 50px;
        color: white; 
        margin-top:120px; 
    }
    .section_0_3, .section_0_4{
        margin-left: 50px;
        color:white; 
        font-size: 2em;
        margin-top:25px;
    }
    .section_0_4 {
        border:3px solid white;
        float:left ; 
        width:250px ; 
        text-align: center;
        padding-left: 0px;
        margin-left: 50px;
   
        
    }
</style>